name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CAROL_DEBUG: 1
    steps:
    - uses: actions/checkout@master
    - name: Install Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -yqq google-chrome-stable
    - uses: denolib/setup-deno@master
      with:
        deno-version: 1.2.0
    - name: Run linter
      run: |
        make lint
    - name: Run tests
      run: |
        make test
